name: Test Templates

on:
  pull_request:
  workflow_dispatch:

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          persist-credentials: false

      - name: Pull published image
        run: |
          docker pull ghcr.io/jeduden/lua-devcontainer:latest

      - name: Run template tests
        run: |
          docker run --rm ghcr.io/jeduden/lua-devcontainer:latest bash -c "$(cat test/lua/test.sh)"
